[submodule "modules/fina-trade"]
	path = modules/fina-trade
	url = https://github.com/haymant/fina-trade.git
[submodule "fina-olap"]
	path = fina-olap
	url = https://github.com/haymant/fina-olap.git
[submodule "finap"]
	path = finap
	url = https://github.com/haymant/finap.git
[submodule "fina-skills"]
	path = fina-skills
	url = https://github.com/haymant/fina-skills.git
[submodule "fina-risk"]
	path = fina-risk
	url = https://github.com/haymant/fina-risk.git
